    <style>
      body {
        overflow: hidden;
      }

      @media only screen and (max-width: 600px) {
      }
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 10px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #ffb346 0%, #ffcc33 100%);
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg, #ffd346 0%, #ffcc33 100%);
      }
    </style>