.upcoming-test {
  background: #fafafa;
  padding: 0 !important;
  height: calc(90vh - 20px);
  margin-bottom: 50px;
  overflow-x: hidden;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.16);
  overflow-y: auto;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.upcoming-test .card-wrapper {
  width: 100%;
  padding: 20px;
  height: 350px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcoming-test .card .card-content .subject-title {
  width: calc(100% - 10px);
  text-overflow: ellipsis;
  height: 30%;
  overflow: hidden;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: white;
}
.upcoming-test .card .card-content img {
  width: 40%;
  height: 40%;
}
.upcoming-test .card .card-content .timer {
  background: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  border-radius: 5px;
  font-weight: 600;
  width: 95%;
  height: 50px;
}
.upcoming-test .card .card-content span {
  font-size: 12px;
}
.upcoming-test .card .card-content {
  height: 90%;
  color: #ffffff;
  font-weight: 500;
  padding: 5px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: calc(100% - 20px);
  margin: 10px;
}

.upcoming-test .card .card-button :hover {
  background: linear-gradient(180deg, #ffd346 0%, #ffdd33 100%);
}
.upcoming-test .card .card-button {
  height: 10%;
  border-radius: 0 0 8px 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(90deg, #ffb346 0%, #ffcc33 100%);
}

.upcoming-test .card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  background: #2a0846;
  border-radius: 10px;
}

.courses-tab {
  height: calc(90vh - 20px);
  padding: 20px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.courses-tab .courses-list {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.courses-list .card-wrapper .card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  padding: 10px 15px;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

.courses-list .card-wrapper {
  width: 300px;
  height: 350px;
  margin: 10px 0;
}

.card .subject-banner {
  height: 40%;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #2a0846;
}

.card i {
  color: #2a0846;
  margin-right: 5px;
}

.card .student-details {
  font-weight: bold;
  display: flex;
  color: #6340a3;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card .subject-banner .subject-name {
  font-size: 20px;
  max-height: 90%;
  max-width: 100%;
  display: block;
  margin: 5px 10px;
  text-overflow: ellipsis;
  color: #fafafa;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
}

.course-button {
  width: 100%;
  height: 10%;
  border-radius: 5px;
  font-weight: 400;
  color: white;
  font-family: "Varela Round", sans-serif;
  line-height: 0 !important;
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
  background: #6340a3;
}

.card .faculty-details .faculty-image {
  height: 30px;
  background-color: white;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  width: 30px;
  margin: 0 10px 0 0;
}
.faculty-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card .faculty-details .faculty-name {
  max-width: 100%;
  max-height: 100%;
  font-weight: bold;
  color: #ff9f00;
}

.card .faculty-details {
  display: flex;
  width: 100%;
  height: 10%;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
